<h2>My Roles</h2>
<loading-spinner *ngIf="showSpinner"></loading-spinner>
<div class = "roles">
  <label>Role Id:<br/>
    <input #roleId />
  </label><br/>
  <label>Role Name:
    <input #roleName />
  </label><br/>  
  <button (click)="add(roleId.value,roleName.value); roleId.value=''; roleName.value='';">
    add
  </button>
</div>
<ul class="roles">
  <li>
    <span class="badge"><b>ID</b></span> <b>ROLE NAME</b>
  </li>
  <li *ngFor="let role of roles">
      <span class="badge">{{role.id}}</span> {{role.name}}
  </li>
</ul>
<app-pager [page]="projectService.rolePage"
[totalPages]="projectService.totalRolePages"
(changePage)="projectService.rolePage = $event; getRoles();"></app-pager>